@charset "windows-1252";
@import url("../font-awesome-4.3.0/css/font-awesome.css");

.right-nav-container {
    position: fixed;
    width: 350px;
    right: -350px;
    top: 0;
    bottom: 0;
    background: #CFC9C0;
    z-index: 10;
    -webkit-transition: right .5s ease-in-out;
    transition: right .5s ease-in-out;
}

.right-nav-container.show {
    right: 0;
}

.rightnav-link {
    position: absolute;
    left: -27px;
    background: url('../../../../ViewController/public_html/images/right.png')no-repeat center center;
}

.rightnav-link.hide {
    background-image: url('../../../../ViewController/public_html/images/left.png');
}

.card {
    margin: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 300px;
    background-color: #f6f6f7;
    border: 1px solid #e7e7e9;
}

.front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    border: 1px solid #A0A0AF;
    background: #FFFFFF;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */

    -webkit-transition: all 1.4s ease-in-out;
    transition: all 1.4s ease-in-out;
}

.front.flip {
    z-index: 900;
    border-color: #eee;
    background: #FFFFFF;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    border: 1px solid #ccc;
    background: #727272;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-179deg);
    /* setting to 180 causes an unnatural-looking half-flip */

    transform: rotateY(-179deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */

    -webkit-transition: all 1.4s ease-in-out;
    transition: all 1.4s ease-in-out;
}

.back.flip {
    z-index: 1000;
    background: #727272;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}

.swipelistitem {
    width: 290px !important;
    height: 150px !important;
    border: #F3F3F3 !important;
    background-color: #F3F3F3 !important;
    margin: 15px !important;
}

.swipelistview {
    background-color: #F3F3F3;
}

.btncardlyt {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: inline-block;
    width: 50px;
    background: cornflowerblue;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    color: white;
}

.dimLyt {
    opacity: 0.5;
    pointer-events: none;
}

.test-text > .field-value > .wrap,.amx-wrap-active {
    border-image: none;
    border-style: none;
}

.test-text > .field-value input {
    height: 30px;
    overflow: hidden;
    border-radius: 9.5em;
    background: white;
    border: 2px solid #C1C1C1;
}

.test-text > .field-value > .amx-inputDate-trigger-dateTime{
    background: white;
    border: 2px solid #C1C1C1;
    border-radius: 9.5em;
}

.sbmt-btn > .amx-commandButton {
    border-radius: 0.5em;
    border: none;
    background: limegreen;
}

.sbmt-btn > .amx-commandButton > .amx-commandButton-label {
    color: #FFFFFF;
    font-size: larger;
}

.srch-btn{
    background: red;
    border-radius: 0.5em;
    width: 200px;
}

.srch-btn > .amx-commandButton-label{
    color: #FFFFFF;
}

.time-btn-completed{
    /*width: 39px;
    border-radius: 10.5em;
    background: transparent;
    border: solid green;
    padding: 2px;
    border-width: thin;*/
    color:Green;
}

.time-btn-warning{
    /*width: 39px;
    border-radius: 10.5em;
    background: transparent;
    border: solid orange;
    padding: 2px;
    border-width: thin;*/
    color:Yellow;
}

.time-btn-error{
    /*width: 39px;
    border-radius: 10.5em;
    background: transparent;
    border: solid red;
    padding: 2px;
    border-width: thin;*/
    color:Red;
}

.time-btn-normal{
    /*width: 39px;
    border-radius: 10.5em;
    background: transparent;
    border: solid red;
    padding: 2px;
    border-width: thin;*/
    color:Gray;
}

#it1__inputElement {

}

#it1 input[type="text"] {
    background: no-repeat 10px 6px #fcfcfc;
    border: 0 none;
    font: 12px Arial,Helvetica,Sans-serif;
    color: #d7d7d7;
    width:90%;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
     
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#it1 input[type="text"]:focus {
    background: url(search-dark.png) no-repeat 10px 6px #fcfcfc;
    color: #6a6f75;
    width: 90%;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    
    }

.amx-listView-cards .amx-listItem {
    display: inline-block;
    vertical-align: top; /* top for removal of excess inline-block gaps */
    width: 300px;
    height: auto;
    box-sizing: border-box;
    background-image: none;
    border: 1px solid #E7E7E9;
    background-color: #FFFFFF;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0;
    padding: 10px;
}

.amx-listItem .amx-outputText {
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}
